.grid{
  display: grid;
  grid-template: 200px 1fr 1fr/ 1fr 1fr 1fr;
  background-image: url('https://cdn1.thr.com/sites/default/files/imagecache/768x433/2018/02/billgatesheadshot_-_h_2018.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: blueviolet;
  grid-gap: 20px;
}
h3{
  text-align: center;
  color: blue;
  font-size: 2rem;
}
p{
  color: crimson;
  letter-spacing: 1px;
  font-size: 1rem;
}
